 <div class="row center-align">
			 <div class="row">
		        <div class="col s12 m3">
		          <div class="card">
		          	<div class="card-image">
		              <img src="/public/img/categoria.png">
		            </div>		        
		            <div class="card-content">
		              <p>Gerenciar Categorias.</p>
		            </div>
		            <div class="card-action">
		              <a class="waves-effect waves-teal btn-flat" ui-sref="categoriaCadastrar">Cadastrar</a>
		              <a class="waves-effect waves-teal btn-flat" ui-sref="categoriaListar">Lista</a>
		            </div>
		          </div>
		        </div>
		        <div class="col s12 m3">
		          <div class="card">
		          	<div class="card-image">
		              <img src="/public/img/subcategoria.png">
		            </div>		        
		            <div class="card-content">
		              <p>Gerenciar Sub Categorias.</p>
		            </div>
		            <div class="card-action">
		              <a class="waves-effect waves-teal btn-flat" ui-sref="subCategoriaCadastrar">Cadastrar</a>
		              <a class="waves-effect waves-teal btn-flat" ui-sref="subCategoriaListar">Lista</a>
		            </div>
		          </div>
		        </div>
		        <div class="col s12 m3">
		          <div class="card">
		          	<div class="card-image">
		              <img src="/public/img/postagem.jpg">
		              <br>
		            </div>		        
		            <div class="card-content">
		              <p>Gerenciar Postagem</p>
		            </div>
		            <div class="card-action">
		              <a class="waves-effect waves-teal btn-flat" ui-sref="postagemCadastrar">Postagem</a>
		              <a class="waves-effect waves-teal btn-flat" ui-sref="postagemListar">Lista</a>
		            </div>
		          </div>
		        </div>
		        <div class="col s12 m3">
		          <div class="card">
		          	<div class="card-image">
		              <img src="/public/img/autor.jpg">
		            </div>		        
		            <div class="card-content">
		              <p>Gerenciar Autores.</p>
		            </div>
		            <div class="card-action">
		              <a class="waves-effect waves-teal btn-flat" ui-sref="autorCadastrar">Cadastrar</a>
		              <a class="waves-effect waves-teal btn-flat" ui-sref="autorListar">Lista</a>
		            </div>
		          </div>
		        </div>
		        </div>
</div>