<meta charset="UTF-8">
<div class="navbar-fixed">
	<nav>
        <div class="nav-wrapper  brown darken-4" ng-controller="IndexController ">
        <div class="col s2"> <a ui-sref="home" class="brand-logo"> Blog do Programador</a></div>           
            <a href="#" data-activates="mobile-menu" ng-click="toggleSidenav('left')" class="button-collapse"><i class="material-icons">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
            	<li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="categoria">Categoria</a></li>
                <li><a ui-sref="admin" href="#">Admin</a></li>
               
            </ul>            
        </div>
    </nav>    
   </div>
    
