<meta charset="UTF-8">

<div layout="row" flex class="change-my-css">
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >

<button ng-click="toggleSidenav('left')"  class="menuBtn" aria-label="Toggle Menu"></button>
	<div>Menu de Navegação</div>
     
      <li><div class="userView center-align">
       <div class="background brown darken-4">
        <a href="#!user"><img class="circle " src="/public/img/avatar.png"></a>
      </div>
      </div></li>
      <div class="row">
	      <a href="#!name"><span class=" name">John Doe</span></a>
	      <a href="#!email"><span class=" email">jdandturk@gmail.com</span></a>
      </div>
    
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

      
     
</md-sidenav>
</div>

 